@{
    ViewBag.Title = "Social Media Aggregator";
}
<div class="container">
    <div class="row" id="search_panel" style="margin-top: 200px;">
        <div class="input-field col s8 m6 offset-s2 offset-m3">
            <input id="search_input" type="text" class="validate">
            <label class="active" for="search_input">Введите поисковый запрос</label>
            <a class="waves-effect waves-light btn" id="search_button">Поиск</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4" id="col1">
        </div>
        <div class="col s12 m6 l4" id="col2">
        </div>
        <div class="col s12 m12 l4" id="col3">
        </div>
</div>

@section scripts{
    <script type="text/javascript">

        function search() {

            $("#search_panel").animate({
                "margin-top": 0
            }, 500, function () {

            });

            $.ajax({
                type: "POST",
                url: '/Home/Search',
                data: { query: $("#search_input").val().toString() },
                success: successFunc
            });

            function successFunc(data, status) {
                $("#col1").empty();
                $("#col2").empty();
                $("#col3").empty();
                var list = JSON.parse(data);
                for (i = 0; i < list.length; i++) {
                    var col1h = $("#col1").height();
                    var col2h = $("#col2").height();
                    var col3h = $("#col3").height();
                    var min = Math.min(col1h, col2h, col3h);
                    var elem;
                    if (col1h == min) {
                        elem = $("#col1");
                    }
                    else if (col2h == min) {
                        elem = $("#col2");
                    }
                    else {
                        elem = $("#col3");
                    }
                    if (list[i].Image == "") {
                        elem.append(
                            '<div class="card">' +
                                '<div class="card-content">' +
                                    '<p>' + list[i].Caption + '</p>' +
                                '</div>' +
                            '</div>');
                    }
                    else {
                        elem.append(
                            '<div class="card">' +
                                '<div class="card-image">' +
                                    '<img src="' + list[i].Image + '">' +
                                '</div>' +
                                '<div class="card-content">' +
                                    '<p>' + list[i].Caption + '</p>' +
                                '</div>' +
                            '</div>');
                    }
                }
            }
        };

        $('#search_input').keyup(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        $("#search_button").click(function () {
            search();
        });
    </script>
}