@{
    ViewBag.Title = "Агрегатор социальных сетей";
}
<div class="container">
    <div class="row" id="search_panel">
        <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
            @if (Request.IsAuthenticated)
            {
                <p class="green-text">Здравствуйте, @User.Identity.Name</p>
                if (User.IsInRole("admin"))
                {
                    <a class="waves-effect waves-light btn col s12" href="/Account/Users">Пользователи</a>
                }
                <a class="waves-effect waves-light btn col s12" href="/Account/Tags">Теги</a>
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="waves-effect waves-light btn col s12" href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                }
            }
            else
            {
                <a class="waves-effect waves-light btn col s12" href="/Account/Login">Вход</a>
            }
            <div class="input-field col s12">
                <input id="search_input" type="text" class="validate" value="@ViewBag.Query">
                <label class="active" for="search_input">Введите тег</label>
                <div class="progress">
                    <div id="progress_bar"></div>
                </div>
                <a class="waves-effect waves-light btn col s12" id="search_button">Поиск</a>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal" style="overflow:hidden;">
    <div class="modal-content">
        <h4 style="text-align:center;" id="headeruser">Вход</h4>
        <div class="row">
            <form class="col s19 m12 l10" id="myform">
                <div class="row">
                    <div class="input-field col  offset-s2 offset-m3 offset-l4 s10 m6 l6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Логин</label>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align:center;color:red;" class="offset-s14 offset-m14 offset-l14 hide" id="valid_login">Введите логин</p>
                    <br />
                </div>
                <div class="row">
                    <div class="input-field col   offset-s2 offset-m3 offset-l4 s10  m6 l6">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="icon_telephone" type="password" class="validate" required="" aria-required="true">
                        <label for="icon_telephone">Пароль</label>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align:center;color:red;" class="offset-s14 offset-m14 offset-l14 hide" id="valid_password">Введите пароль</p>
                    <br />
                </div>
                <div class="row">
                    <p style="color:green;text-align:center;" class="hide" id="bdsuccess">Вы успешно авторизованы</p>
                    <p style="color:red;text-align:center;" class="hide" id="bderror">Неверный логин или пароль</p>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn waves-light" style="margin-right:2%">Закрыть</a>


        <div class="preloader-wrapper small" id="connectdatabase">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4" id="col1">
        </div>
        <div class="col s12 m6 l4" id="col2">
        </div>
        <div class="col s12 m12 l4" id="col3">
        </div>
    </div>
</div>

<div class="container center-block">
    <div class="col s12 m4 center">
        <div class="preloader-wrapper big" id="load_more">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            var block = false;
            var result;
            var listresult = [];

            function fill(list, len) {
                var cols = [$("#col1")];
                if ($("#col2").offset().left > $("#col1").offset().left)
                    cols.push($("#col2"));
                if ($("#col3").offset().left > $("#col1").offset().left)
                    cols.push($("#col3"));

                var selectedCol = cols[0];

                for (var i = 0; i < len; i++) {

                    var imageBlock = "";
                    if (list[0].Image != "")
                        imageBlock = '<div class="card-image">' +
                                        '<img src="' + list[0].Image + '">' +
                                    '</div>';
                    var footer = "";
                    hours = "";
                    if (new Date(list[0].Date).toLocaleTimeString().split(':')[0].length == 1) {
                        hours = "0" + new Date(list[0].Date).toLocaleTimeString().split(':')[0];
                    } else {
                        hours = new Date(list[0].Date).toLocaleTimeString().split(':')[0];
                    }
                    if (list[0].AuthorName != "") {


                        footer = '<div class="row valign-wrapper card-action">' +
                                    '<div class="col s3">' +
                                        '<img src="' + list[0].AuthorAvatar + '" alt="" class="circle responsive-img">' +
                                    '</div>' +
                                    '<div class="col s9">' +
                                        '<p>' + list[0].AuthorName + '</p>' +
                                        '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>' +
                                    '</div>' +
                                '</div>';


                    }
                    else {
                        footer = '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>';
                    }
                    selectedCol.append(
                            '<div class="card">' +
                                '<a href="' + list[0].PostLink + '" target="_blank">' + imageBlock +
                                '<div class="card-content social-content">' +
                                    '<div class="row valign-wrapper">' +
                                        '<div class="col s2">' +
                                            '<img src="/Content/' + list[0].Social + '.png" alt="" class="circle responsive-img">' +
                                        '</div>' +
                                        '<div class="col s10">' +
                                            '<p>' + list[0].Social + '</p>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="card-content text-content">' +
                                    '<p>' + list[0].Text + '<p>' +
                                '</div>' + '</a>' +
                                '<a href="' + list[0].AuthorLink + '" target="_blank">' +
                                    '<div class="card-content author-content">' +
                                        footer +
                                    '</div>' +
                                '</a>' +
                            '</div>');

                    var minHeight = selectedCol.height()

                    cols.forEach(function (item, i, arr) {
                        if (item.height() < minHeight) {
                            selectedCol = item;
                            minHeight = item.height();
                        }
                    });
                    listresult.splice(0, 1);
                }
            }


            function search() {

                var query = $("#search_input").val().toString();
                $("#search_button").addClass("disabled");

                $("#progress_bar").addClass("indeterminate");

                $("#search_panel").animate({
                    "margin-top": "5px"
                }, 500, function () {

                });

                $.ajax({
                    type: "POST",
                    url: '/Home/Search',
                    data: { query: query },
                }).done(function (data) {

                    $("#col1").empty();
                    $("#col2").empty();
                    $("#col3").empty();

                    result = JSON.parse(data);

                    if (result.Posts.length > 0) {
                        block = false;
                        listresult = [];
                        copylists(result.Posts);
                        if (listresult.length >= 20)
                            fill(listresult, 20);
                        else {
                            if (listresult.length > 0)
                                fill(listresult, listresult.length);
                        }
                    } else {
                        block = true;
                    }

                }).always(function () {

                    $("#search_button").removeClass("disabled");
                    $("#progress_bar").removeClass();
                });
            }

            if ($("#search_input").val().toString() != "")
                search();

            $('#search_input').keyup(function (e) {
                if (e.keyCode == 13) {
                    if (!$("#search_button").hasClass("disabled")) {
                        search();
                    }
                }
            });

            $("#search_button").click(function () {
                if (!$("#search_button").hasClass("disabled")) {
                    search();
                }
            });

            $("login").click(function () {
                selectedCol.append('<a href="' + list[0].PostLink + '" target="_blank">');
            });

            $(window).scroll(function () {

                if ($(window).height() + $(window).scrollTop() >= $(document).height() - 5000) {
                    $("#load_more").addClass("active");
                    if (listresult.length <= 20) {
                        fill(listresult, listresult.length);
                        if (!block) {
                            fill(listresult, listresult.length);
                            block = true;
                            $.ajax({
                                type: "POST",
                                url: '/Home/More',
                                data: {
                                    query: result.Query,
                                    vkPage: result.VKPagination,
                                    instPage: result.InstPagination,
                                    twPage: result.TwitterPagination
                                },
                            }).done(function (data) {
                                result = JSON.parse(data);
                                if (result.Posts.length > 0)
                                    copylists(result.Posts);
                                else block = true;
                            }).always(function (data) {
                                $("#load_more").removeClass("active");
                                block = false;
                            });
                        }
                        return;
                    }
                    if (listresult != null && listresult.length != 0 && listresult.length - 20 >= 20) {
                        fill(listresult, 20);
                        $("#load_more").removeClass("active");
                    } else {
                        if (!block) {
                            fill(listresult, listresult.length);
                            block = true;
                            $.ajax({
                                type: "POST",
                                url: '/Home/More',
                                data: {
                                    query: result.Query,
                                    vkPage: result.VKPagination,
                                    instPage: result.InstPagination,
                                    twPage: result.TwitterPagination
                                },
                            }).done(function (data) {
                                result = JSON.parse(data);;
                                if (result.Posts.length > 0)
                                    copylists(result.Posts);
                                else block = true;
                            }).always(function (data) {
                                $("#load_more").removeClass("active");
                                block = false;
                            });
                        }
                    }
                }
            });

            function copylists(list) {
                var temp = [];
                for (var i = 0; i < list.length; i++) {
                    temp[i] = {};
                    temp[i].Image = list[i].Image;
                    temp[i].AuthorName = list[i].AuthorName;
                    temp[i].AuthorAvatar = list[i].AuthorAvatar;
                    temp[i].Social = list[i].Social;
                    temp[i].Text = list[i].Text;
                    temp[i].Date = list[i].Date;
                    temp[i].PostLink = list[i].PostLink;
                    temp[i].AuthorLink = list[i].AuthorLink;
                }
                listresult = listresult.concat(temp);
                console.log(listresult);
            }

        });
        $('.modal-trigger').leanModal();
        $("#autorize").click(function () {

            if ($("#icon_prefix").val() != "") {
                $("#valid_login").addClass("hide");
            } else {
                $("#valid_login").removeClass("hide");
            }
            if ($("#icon_telephone").val() != "") {
                $("#valid_password").addClass("hide");
            } else {
                $("#valid_password").removeClass("hide");
            }
            if ($("#icon_prefix").val() == "" || $("#icon_telephone").val() == "") {
                return;
            }
            $("#connectdatabase").addClass("active");
            $.ajax({
                type: "POST",
                url: '/Account/Login2',
                data: { login: $("#icon_prefix").val().toString(), password: $("#icon_telephone").val().toString() },
            }).done(function (data) {
                if (data == "bad request") {
                    $("#bderror").removeClass("hide");
                    $("#connectdatabase").removeClass("active");
                } else {
                    $("#bdsuccess").removeClass("hide");
                    $("#connectdatabase").removeClass("active");
                    $("#search").append('<br><p style="display:inline-block;margin-right:2%;" id="rgtg"><a class="waves-effect waves-light btn" style="font-size:70%;" onClick="regtag()" >Зарегистрировать тег</a></p>');
                }
            });
        });
    </script>
}