p {
    word-wrap: break-word;
}
.row {
    margin-bottom: 0;
}
.col {
    margin-bottom: 10px;
}
a {
    color: black;
}
#more {
    display: none;
}
#search_panel{
    margin-top: 150px;
}
.social-content {
    padding-bottom: 5px !important;
}
.text-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.author-content {
    padding-top: 5px !important;
}
.Emoji {
    width: 1.25em;
}
